.container{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    /* border: 1px solid black; */


}
.container .fab{
    color: blue;
    font-size: 4.8rem;
}

.container .notifications::before{
        position: absolute;
        /* position: relative; */
        /* content: attr(data-count); */
        content: '1';
        top:-1rem;
        right: -1rem;
        /* left: 6rem; */
        font-size:1.5rem;
        font-weight: bold;
        color: white;
        padding: 9px 14px;
        background: linear-gradient(#ff1a1a, #ff0000, #e60000);
        border-radius: 50%;
        line-height: 100%;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
        /* border: 1px solid black; */


}
 /*  */